* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #ff512f, #f09819);
  font-family: Arial, sans-serif;
  text-align: center;
}
.student-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid black;
}
.student-name {
  color:black;
  font-size: 24px;
  font-weight: 700;
}
.student-title {
  color: gray;
  font-size: 20px;
  font-weight: 500;
}