* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to right, #ff512f, #f09819);
  font-family: Arial, sans-serif;
  text-align: center;
}
.student-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid black;
}
